.survey-builder-flow-card {
  max-width: 70%;
  margin: auto;
  margin-top: 20px;
}

/* Bold the step header label  */
.mat-step-label-selected {
  font-weight: bold !important;
}

/* ---------------- Survey Type step starts here ---------------- */
.survey-type-label-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.survey-type-label-wrapper span {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 12px;
}

/* Reset chip tooltip background color */
.tooltip-red {
  /* background: #b71c1c; */
  background: #f44336;
}

.survey-type-container .mat-expansion-panel-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.survey-type-container .mat-expansion-panel-body li {
  margin: 10px 0;
}

/* ---------------- Configuration step starts here ---------------- */
/* Multiple Selection form */
.configuration-container .mat-form-field {
  width: 100%;
  max-width: 450px;
}

/* .configuration-panel {
  min-width: 60% !important;
} */

.configuration-container .mat-expansion-panel-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.configuration-container .mat-expansion-panel-body li {
  margin: 10px 0;
}

/* iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .survey-builder-flow-card {
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
  }

  .survey-type-container .mat-chip-list-wrapper mat-chip {
    font-size: 18px !important;
  }

  .configuration-container .mat-chip-list-wrapper mat-chip {
    font-size: 11px !important;
  }

  .configuration-container .mat-form-field {
    width: 100% !important;
  }
}

/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .survey-builder-flow-card {
    max-width: 80%;
    margin: auto;
    margin-top: 30px;
  }
}

/* iPad Pro */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .survey-builder-flow-card {
    max-width: 80%;
    margin: auto;
    margin-top: 30px;
  }
}

/* .mat-background {
  background-color: #fafafa;
  max-width: 60%;
  margin: auto;
}
.stepper-container {
  max-width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
} */

/* ::ng-deep .mat-card-header-text {
  margin-left: 0px !important;
} */

/* ::ng-deep .mat-chip-list-wrapper {
  margin-left: 4px !important;
} */

/* .survey-type-container .button {
  float: right;
} */

/* .survey-type-container .mat-expansion-panel-body {
  padding-top: 16px;
} */

/* To create background on mat-step-header  */
/* .mat-step-header[aria-selected="true"] {
  background-color: rgba(0, 0, 0, 0.04) !important;
} */
