<mat-card class="survey-builder-flow-card">
  <mat-vertical-stepper
    [linear]="true"
    #surveyStepper
    (click)="onClickStepper()"
  >
    <!-- Step 1 -->
    <mat-step [stepControl]="formGroup1" #step1>
      <!-- Form Group 1 -->
      <form
        class="survey-type-container"
        [formGroup]="formGroup1"
        #surveyTypeForm
      >
        <!-- Step Label -->
        <ng-template matStepLabel>
          <div class="survey-type-label-wrapper">
            <span>Survey Type:</span>
            <mat-chip-list *ngIf="mySurvey.type.name">
              <mat-chip
                color="primary"
                selected
                (click)="surveyStepper.selectedIndex = 0"
                #surveyTypeChip
              >
                {{ mySurvey.type.name }}
                <!-- Remove Icon b/c it's not in mat-form-field -->
                <mat-icon
                  matChipRemove
                  #surveyTypeTooltip="matTooltip"
                  matTooltip="Remove to start over"
                  matTooltipPosition="after"
                  matTooltipClass="tooltip-red"
                  matTooltipHideDelay="500"
                  aria-label="Remove survey type to reset all configuration"
                  (click)="onResetClicked()"
                >
                  cancel
                </mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
        </ng-template>
        <!-- Form field -->
        <mat-form-field appearance="outline">
          <mat-label>Select a type</mat-label>
          <mat-select
            formControlName="surveyTypeControl"
            required
            (selectionChange)="onSelectChangeSurveyType($event.value)"
          >
            <mat-option selected>None</mat-option>
            <mat-option
              *ngFor="let type of surveyTypes; let i = index"
              [value]="i"
            >
              {{ type.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="surveyTypeControl.hasError('required')">
            Please choose a type of survey
          </mat-error>
        </mat-form-field>
        <mat-expansion-panel
          [expanded]="true"
          *ngIf="mySurvey.type.descriptions"
        >
          <mat-expansion-panel-header
            [collapsedHeight]="'auto'"
            [expandedHeight]="'auto'"
          >
            <mat-panel-title>
              <b>{{ mySurvey.type.name }}</b>
            </mat-panel-title>
            <mat-panel-description>
              Description
            </mat-panel-description>
            <ng-template matExpansionPanelContent>
              <li *ngFor="let description of mySurvey.type.descriptions">
                {{ description }}
              </li>
            </ng-template>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <div class="button" *ngIf="mySurvey.type.id">
          <br />
          <button mat-raised-button color="primary" matStepperNext>
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <!-- Step 2 -->
    <mat-step
      [stepControl]="formGroup2"
      [optional]="false"
      #step2
      *ngIf="mySurvey.type.allowedConfigurationIdList"
    >
      <!-- Form Group 2 -->
      <form class="configuration-container" [formGroup]="formGroup2">
        <!-- Step Label -->
        <ng-template matStepLabel>
          Configuration
        </ng-template>
        <mat-form-field appearance="outline">
          <mat-label>Select configuration(s)</mat-label>
          <mat-select
            [formControl]="configurationControl"
            panelClass="configuration-panel"
            multiple
          >
            <mat-select-trigger>
              <mat-chip-list>
                <mat-chip
                  *ngFor="let config of configurationControl.value"
                  [removable]="true"
                  (removed)="onConfigRemoved(config)"
                >
                  {{ config.name }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </mat-select-trigger>
            <mat-option
              *ngFor="let configuration of configurations"
              [value]="configuration"
              (onSelectionChange)="onSelectionChangeConfiguration($event)"
            >
              {{ configuration.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-card>
          <p>
            <b>*Note:</b> By default, participants can access to a survey every
            day after the enrollment day and for entire project length period.
          </p>
        </mat-card>
        <br />

        <mat-accordion
          multi="true"
          *ngIf="configurationControl.value.length > 0"
        >
          <mat-expansion-panel
            [expanded]="indexExpanded == config.id"
            *ngFor="let config of configurationControl.value"
          >
            <mat-expansion-panel-header
              [collapsedHeight]="'auto'"
              [expandedHeight]="'auto'"
            >
              <mat-panel-title>
                <b>{{ config.name }}</b>
              </mat-panel-title>
              <mat-panel-description>
                Description
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <li *ngFor="let description of config.descriptions">
                {{ description }}
              </li>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>

        <div>
          <br />
          <button mat-raised-button matStepperPrevious>Back</button>
          &nbsp;
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Step 3 -->
    <mat-step
      [stepControl]="formGroup3"
      [optional]="true"
      #step3
      *ngIf="isScheduledNotificationSelected"
    >
      <!-- Form Group 3 -->
      <form class="scheduled-notification-container" [formGroup]="formGroup3">
        <!-- Step Label -->
        <ng-template matStepLabel>
          Scheduled Notification
        </ng-template>
        <mat-form-field>
          <mat-label>Question</mat-label>
          <input matInput formControlName="ScheduledControl" />
        </mat-form-field>
        <div>
          <br />
          <button mat-raised-button matStepperPrevious>Back</button>
          &nbsp;
          <button mat-raised-button>Reset</button>
          &nbsp;
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Step 4 -->
    <mat-step
      [stepControl]="formGroup4"
      [optional]="true"
      #step4
      *ngIf="isRandomNotificationSelected"
    >
      <!-- Form Group 4 -->
      <form class="random-notification-container" [formGroup]="formGroup4">
        <!-- Step Label -->
        <ng-template matStepLabel>
          Random Notification
        </ng-template>
        <mat-form-field>
          <mat-label>Question</mat-label>
          <input matInput formControlName="RandomControl" />
        </mat-form-field>
        <div>
          <br />
          <button mat-raised-button matStepperPrevious>Back</button>
          &nbsp;
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Step 5 -->
    <mat-step
      [stepControl]="formGroup5"
      [optional]="true"
      #step5
      *ngIf="isRestrictionsSelected"
    >
      <!-- Form Group 5 -->
      <form class="Restrictions-container" [formGroup]="formGroup5">
        <!-- Step Label -->
        <ng-template matStepLabel>
          Restrictions (Availability)
        </ng-template>
        <mat-form-field>
          <mat-label>Question</mat-label>
          <input matInput formControlName="RestrictionsControl" />
        </mat-form-field>
        <div>
          <br />
          <button mat-raised-button matStepperPrevious>Back</button>
          &nbsp;
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Step 6 -->
    <mat-step
      [stepControl]="formGroup6"
      [optional]="true"
      #step6
      *ngIf="isFollowUpSelected"
    >
      <!-- Form Group 6 -->
      <form class="follow-up-container" [formGroup]="formGroup6">
        <!-- Step Label -->
        <ng-template matStepLabel>
          Follow-up
        </ng-template>
        <mat-form-field>
          <mat-label>Question</mat-label>
          <input matInput formControlName="FollowUpControl" />
        </mat-form-field>
        <div>
          <br />
          <button mat-raised-button matStepperPrevious>Back</button>
          &nbsp;
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Step Done -->
    <mat-step *ngIf="mySurvey.isComplete">
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-raised-button (click)="surveyStepper.selectedIndex = 0">
          Test: Go to step 1
        </button>
        &nbsp;
        <button mat-raised-button matStepperPrevious>Back</button>
        &nbsp;
        <button mat-raised-button color="warn" (click)="onResetClicked()">
          Reset
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>

<!-- <br />
<div>
  {{ mySurvey | json }}
</div>
<div>
  {{ configurationControl.value | json }}
</div> -->
